MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=gcloud_shell
FAIL_THRESHOLD=5
SHORT_SESSION_SECONDS=60
SSH_ALIVE_INTERVAL=30
SSH_ALIVE_COUNT=60
RECONNECT_DELAY=10
